body,
html {
  background-image: linear-gradient(
    to top,
    #ff9a9e 0%,
    #fecfef 99%,
    #fecfef 100%
  );
  background-repeat: no-repeat;
  height: 100%;
}

.background-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin: 0px;
  width: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
}

.welcome-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.weclome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-name {
  font-size: xx-large;
}

.user-info {
  font-size: large;
}

.header-and-calendar {
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  width: 65%;
  justify-content: space-around;
}
.widgets {
  height: 45vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

footer {
  border: 2px solid black;
  height: 20vh;
  width: 50%
}

.turing-logo {
  border: 2px solid black;
  height: 17vh;
  width: 10%;
}

aside {
  border: 2px solid black;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.user-friends {
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
  width: 70%;
  align-items: center;
  margin: 30px;
}

button {
  width: 25%;
  margin: 10px;
}

h2,
h3 {
  font-size: small;
}

aside > img {
  border: 2px solid black;
  height: 10vh;
  margin-left: 20px;
}


.sleep-widget,
.hydration-widget,
.step-goal-widget {
  width: 100%;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 45vh;
  margin: 0px;
  border: 2px solid black;
  padding: 10px;
  margin-inline: 10px;
  /* width:65%; */
}
li {
  border: 1px solid black;
  width: 52%;
}

.step-container {
  display: flex;
  flex-direction: column;
}

.sleep-container {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}