
body,
html {
  background-color: rgb(225, 230, 236);
  background-repeat: no-repeat;
  font-family: "Barlow", sans-serif;
  height: 100vh;
  text-transform: uppercase;
}

.background-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin: 0px;
  width: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (min-width: 760px) {
  .main-container {
    height: 100vh;
    width: 100vw;
  }
}

.welcome-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-name {
  font-size: xx-large;
}

.user-info {
  font-size: small;
}

.header-and-calendar {
  background-color: #50bfe6;
  border: 2px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 65%;
}

.widgets {
  align-items: stretch;
  display: flex;
  height: 52vh;
  justify-content: center;
  width: 100%;
}

footer {
  border: 2px solid gray;
  height: 20vh;
  width: 70vw;
}
footer > img {
  display: none;
  height: 20vh;
  width: 70vw;
}

.turing-logo {
  height: 17vh;
  width: 12%;
}

aside {
  background-color: rgb(220, 226, 234);
  border: none;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.friends-info {
  width: 23vw;
}

.return-to-widget {
  background-color: #db91ef;
  border: 1px solid gray;
  border-radius: 5px;
  display: block;
  font-family: "Barlow", sans-serif;
  font-size: 13px;
  height: 33px;
  padding-bottom: 3px;
  text-transform: uppercase;
  text-align: center;
}

ul {
  background-color: white;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0px;
  margin-inline: 10px; 
  transition-duration: 0.4s;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 45vh;
  padding: 10px;
}

aside > img {
  height: 10vh;
  margin-left: 20px;
}

.user-friends> h2 {
  width:100%;
}
.user-friends > h3 {
  width:35%;
}

.friends-info {
  width: 23vw;
}

.user-friends{
  align-items: center;
  background-color: #ffcff1;
  border: 2px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin: 15px;
  width: 80%;
}

.sleep-widget,
.hydration-widget,
.step-goal-widget {
  margin-inline: 10px;
  width: 20vw;
  background-color: white;
}

.step-container {
  flex-wrap: wrap;
}

li {
  font-size: small;
  font-weight: bold;
  list-style-type: none;
  width: 15vw;
}

p {
  margin: 5px;
}

.step-container,
.sleep-container,
.hydration-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 52vh;
}

.sleep,
.hydration,
.step-goal {
  background-color: #50bfe6;
  border: 1px solid gray;
  border-radius: 10px;
  font-family: "Barlow", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  margin-inline: 10px;
  width: 25%;
}

.step-goal {
  margin-inline: 10px;
}

.sleep:hover,
.hydration:hover,
.step-goal:hover {
  background-color: white;
}

.hidden {
  display: none;
}

