body,
html {
  background-color: white;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.background-container {
  display: flex;
  flex-direction: row;
  height: max-content;
  margin: 0px;
  width: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-height: max-content;
  width:100%;
  background: rgb(61,19,156);
background: linear-gradient(90deg, rgba(61,19,156,1) 0%, rgba(9,149,224,1) 35%, rgba(227,125,245,1) 100%);
}

.welcome-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-name {
  font-size: xx-large;
}

.user-info {
  font-size: small;
}

.header-and-calendar {
  background-color: #50bfe6;
  border: 2px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 65%;
}

.widgets {
  align-items: stretch;
  display: flex;
  height: 52vh;
  justify-content: center;
  width: 100%;
  margin: 25px;
}

footer {
  display:flex;
  background-color: aliceblue;
  opacity: 90%;
  justify-content: center;
  border: 2px solid gray;
  height: 30vh;
  width: 55vw;
  border-radius: 10px;
}
footer > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-form {
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.input-form {
  display: flex;
    height: 20vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    width:100%;
}

.turing-logo {
  height: 17vh;
  width: 20%;
  border-radius: 50%;
  border: 2px solid darkslateblue;
}

aside {
  border-left: 2px solid plum;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-height: max-content;
  background: linear-gradient(90deg, rgba(227,125,245,1) 0%,rgba(61,19,156,1) 100%);
}

.friends-info {
  width: 23vw;
}

.return-to-widget {
  background-color: #db91ef;
  border: 1px solid gray;
  border-radius: 5px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  height: 33px;
  padding-bottom: 3px;
  text-align: center;
}

ul {
  background-color: white;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 10px;
  transition-duration: 0.4s;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 45vh;
  padding: 10px;
}

aside > img {
  border-radius: 50%;
  height: 10vh;
  margin-left: 20px;
  margin-bottom: 10px;
}

.user-friends > h2 {
  font-size: medium;
  margin :0px;
  width: 100%;
}

.user-friends > h3 {
  font-size: medium;
  margin:0px;
  width: 35%;
}

.friends-info {
  width: 23vw;
}

.user-friends {
  align-items: center;
  background-color: #f7bde6;
  border: 2px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin-block: 5px;
  width: 53%;
}

.sleep-widget,
.hydration-widget,
.step-goal-widget {
  background-color: #818cf8;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  margin-inline: 10px;
  width: 25vw;
}

.week-activity {
  
  border:2px solid black;
  overflow-y: scroll;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: flex-start;
}
.sleep-week {
  border:2px solid black;
  overflow-y: scroll;
}
.sleep-week > ul {
  height: 10vh;
}
li {
  font-size: small;
  font-weight: normal;
  list-style-type: none;
  width: 22vw;
}
p {
  margin: 5px;
}

.step-container,
.sleep-container,
.hydration-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 52vh;
}

.sleep,
.hydration,
.step-goal,
.activity {
  background-color: #50bfe6;
  border: 1px solid gray;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin-inline: 10px;
  width: 25%;
}

.sleep:focus,
.hydration:focus,
.step-goal:focus,
.activity:focus,
.return-to-widget:focus,
.input-btn:focus {
  outline-style: solid;
  outline-width: 10px;
}

.step-goal {
  margin-inline: 10px;
}

.sleep:hover,
.hydration:hover,
.step-goal:hover,
.activity:hover {
  background-color: white;
}


.log-in-title,
button {
  font-weight: 700;
}

.log-in-form label {
  margin-bottom: 7px;
}

.log-in-input {
  padding: 10px;
  border-radius: 5px;
}

.log-in-input {
  margin-bottom: 10px;
}

.sign-out-button,
.log-in-btn {
  width: 30%;
  padding: 8px;
  align-self: center;
  margin: 4px 0;
  border-radius: 21px;
  background-color: #818cf8;
  font-weight: 400;
  font-size: 17px;
}

.sign-out-button {
  width: 10%;
}

.log-in-section {
  background-image: url("/src/images/runner.jpg");
  align-items: center;
  justify-content:center;
  display: flex;
  width:100%;
  background-position: center;
  background-size: 100%;
  overflow-y: scroll;
  overflow-x: unset;
  height: 100vh;
  
}

.log-in-form {
  margin-top: 0%;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50vh;
  border-radius: 6px;
  padding: 12px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  background-color: aliceblue;
  align-items: center;
  opacity: 80%;
  text-transform: uppercase;
}

.log-in-title {
  text-transform: uppercase;
  text-align: center;
}

.log-in-btn {
  text-transform: uppercase;
  width: 48%;
}

.turing-logo {
  background-image: url("/src/images/logo.png");
}

.sleep-form,
.hydration-form,
.activity-form {
  display: flex;
  justify-content: center;
  width: 85%;
}

.sleep-form > input,
.activity-form > input {
  margin: 10px;
  width: 30%;
}

.hydration-form > input {
  margin: 10px;
  width: 50%;
}

.compare-activity > ul {
  padding: 0px;
}

.compare-activity {
  margin: 0px;
    padding: 0px;
}

span { 
  font-weight: normal;
  color:#50bfe6;
}

.category-options {
  background-color: #bcc2f9;
}

.hidden {
  display: none;
}